.bio-description{
    margin-left:40%;
}

.bio-description h3{
    margin-left: 10%;
}


.bio-description #desc{
    margin-left: 5%;
}

.bio-description .text-input{
    margin-left: 5%;
}

.bio-description #description{
    margin-left: 1%;
}