body {
    background-color: #5cdb96;
}


.leaderboard{
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    margin-left: 1%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

ol li {
    list-style: none;
   }

li big {
    margin-left: 50px;
    font-weight: bold;
} 



li medium{
    float : right;
    margin-right: 30px;
    font-weight: bold;
    font-size: x-large;
} 



.title h1{
    margin-left: 45%;
}