.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
    grid-column-gap: 4%;
    grid-row-gap:4%
  }
  
.grid-item {
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.66);
    border-radius: 20%;
    height: 350px;
    width: 300px;
    padding: 2%;
    font-size: 30px;
    text-align: center;
 
  }

.grid-item .title{
    margin-top: 50%;
  }