@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
  background-color: #5cdb96;
}




input[type="submit"]{
    background-color: #c20505;
    height: 30px;
    color: #fff;
    float:right;
    margin-right: 40%;
    font-family: sans-serif;
}

.excution{
  margin-right: 25%;
  display: inline-block;
  font-family: sans-serif;
  float:right;
}

.excutionOutput{
  background-color: white;
  border-style: ridge;
}

.example-poly{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.lesson-area {
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%);
  background: -moz-linear-gradient(90deg, #485563 10%, #29323c 90%);
  background: -ms-linear-gradient(90deg, #485563 10%, #29323c 90%);
  background: -o-linear-gradient(90deg, #485563 10%, #29323c 90%);
  background: linear-gradient(90deg, #485563 10%, #29323c 90%);
  font-family: "Walter Turncoat", cursive;
  color: #E8E8E8;
  border-style: solid;
  border-color: burlywood;
  border-width: 10px;

  overflow: hidden
}

.buttons-holder {
	padding: 1em;
	display: flex;
	justify-content: left;
}

.buttons-holder .button {
	display: block;
	margin-right: 1em;
	text-decoration: none;
	font-size: 1.2em;
	padding: 0.5em;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: purple;
	color: white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
	transition: all 0.5s;
}

#section-1-code {
  border: 1px solid black;
  margin-bottom: 5px;
  height: 200px;
  width: 300px;
}

.compiler{
  margin-left: 20%;
  background-color: #323232;
  margin-right: 20%;
  border-radius: 30px;

}

.example-poly {
  background-color: #8ee4af;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

.section-1 {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
}



.square {
  height: 100px;
  width:100px;
  background-color: rgb(133, 5, 5);
}



