body {
  background-color: #5cdb96;
}

textarea {
    resize: none;
    margin-left: 20%;
  }

input[type="submit"]{
    background-color: #05386b;
    color: #fff;
    float:right;
    margin-right: 40%;
    border-radius: 5px;
    margin-top: 1%;
}

.excution{
  margin-right: 300px;
  display: inline-block;
  float:right;
}

.excutionOutput{
  background-color: white;
  border-style: ridge;
}

.lesson-area {
  background-color: #8ee4af;
  font-size: small;
}



